a {
  color: rgb(32, 32, 204);
}

body {
  font-family: Arial;
}

.btn-primary {
  color: #fff;
  background-color: rgb(32, 32, 204);
  background-image: rgb(32, 32, 204);
}

.btn {
  color: rgb(32, 32, 204);
}
